/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/moleculardynamics -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Full test should be reproducible but still bounded for contributors/CI.
    resourceLimits = [
        cpus: 8,
        memory: '30.GB',
        time: '12.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // Path convention in nf-core/test-datasets (Option B):
    //   moleculardynamics/testdata/samplesheet/v1.0/samplesheet_test_full.csv
    input             = params.pipelines_testdata_base_path + 'moleculardynamics/testdata/samplesheet/v1.0/samplesheet_test_full.csv'
    gromacs_container = 'quay.io/biocontainers/gromacs:2022'
    gromacs_conda     = 'bioconda::gromacs=2022'
    gmx_cmd           = 'gmx'
}
